@font-face {
    font-family: 'Inter_medium';
    src: url(/Fast-type/assets/fonts/Inter-Medium.woff);
    /*src: url(/Fast-type/assets/fonts/Inter-Medium.woff); */
}

@font-face {
    font-family: 'Inter_semibold';
    src: url(/Fast-type/assets/fonts/Inter-SemiBold.woff);
}

@font-face {
    font-family: 'PTMono-Regular';
    src: url(/Fast-type/assets/fonts/PTMono-Regular.woff);
}

body {
    margin: 0;
    padding: 0;

    background: #2F2F2F;
}

.button {
    position: absolute;

    top: 617px;
    left: 927.94px;
}

svg {
    cursor: pointer;
    transition: .2s;
}

.button_replay:hover {
    width: 59px;
    height: 59px;
    transition: .2s;
}

.button_replay:hover .button_path {
    stroke: #FFF;
    transition: .2s;
}

.container {
    display: flex;
    padding-top: 80px;
}

.manangmet {
    width: 423px;
    height: 45px;
    border-radius: 44px;

    background: #3E3E3E;

    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;

}

.settings {
    width: 31px;
    height: 31px;
    border-radius: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #8F8F8F;
    cursor: pointer;

    font-family: 'Inter_semibold';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    -webkit-user-select: none;
    transition: .3s;
}

.settings:hover {
    color: #FFF;
}

.septum {
    width: 8px;
    height: 31px;
    border-radius: 32px;

    background: #292929;
}

.active_block {
    color: #FFF;
    background: rgba(185, 185, 185, 0.50);
    transition: .3s;
}

.line {
    color: #8F8F8F;

    width: 1184px;
    overflow-wrap: break-word;
    -webkit-user-select: none;

    position: absolute;
    z-index: 1;
    left: 368px;
    top: 300px;

    font-family: 'PTMono-Regular';
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 156.523%;
    letter-spacing: 1.12px;
}

.hide_text {
    position: absolute;
    z-index: 2;
    left: 368px;
    top: 435px;

    width: 1184px;
    height: 200px;
    background: #2F2F2F;
}

.caretka {
    width: 18px;
    height: 3px;
    border-radius: 12px;
    background: #FFF;

    position: absolute;
    left: 370px;
    top: 337px;

    transition: .1s;
}

.wh  {
    color: #FFF;
}

.error {
    color: #CA4754;
   /* border-bottom: 2px solid #CA4754; */
}

.space_error {
    color: #852f38;
}

.keybord {
    position: relative;
    z-index: 3;
    Display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 8px;
    justify-content: center;
    padding-top: 320px;

    -webkit-user-select: none;
}

.key_1 {
    display: flex; 
    gap: 7px;
}

.key {
    width: 35.276px;
    height: 35.276px;
    flex-shrink: 0;

    border-radius: 10px;
    background: #292929;

    color: #8F8F8F;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Inter_medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 33px;
}

.keybord-animate {
    animation-name: keyAnimate;
    animation-duration: .2s;
}

.keybord-error {
    animation-name: keyError;
    animation-duration: .2s;
}

.caretka-blink {
    animation: caretkaAnimate .5s;
}

@keyframes caretkaAnimate {
    0%{
        opacity: 100%;
    }
    50%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes keyAnimate {
    0%{
        background: #292929;
    }
    50%{
        background: #FFF;
    }
    100%{
        background: #292929;
    }
}

@keyframes keyError {
    0%{
        background: #292929;
    }
    50%{
        background: #CA4754;
    }
    100%{
        background: #292929;
    }
}

.whitespace {
    width: 248.787px;
    height: 35.276px;
    flex-shrink: 0;

    border-radius: 10px;
    background: #292929;
}